@(title: String, formContact: Form[Contact], action: play.api.mvc.Call)(implicit request: RequestHeader, messages: Messages)
@import helper._
@main(title){
  @form(action = action) {
    <div class="row" style="margin-top:20px;">
      <div class="small-8 small-centered columns">
        <h4>Add Contact</h4>
        <hr>
      </div>
      <div class="small-8 small-centered columns">
        <div class="row">

          <div class="small-12 columns">
            @inputText(formContact("fullName"), '_label -> "First Name:", '_showConstraints -> false)
          </div>
        </div>
      </div>


      <div class="small-8 small-centered columns">
        <div class="row">

          <div class="small-12 columns">

            @inputText(formContact("number"), '_label -> "Number:", '_showConstraints -> false)
          </div>
        </div>
      </div>


      <div class="small-8 small-centered columns">
        <div class="row">
          <div class="small-3 columns">
          </div>
          <div class="small-9 columns">
            <div class="button-bar">
              <ul class="button-group radius right ">
                <li><input type="submit" name="submit" class="small button success" value="Submit"></li>
                <li><input type="reset"  value="reset" class="small button alert "></li>

              </ul>
            </div>
          </div>
        </div>
      </div>


    </div>
  }

}
