@(title: String ,lists: Seq[Contact])

@main(title){

     <table class="row">
      <thead>
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th width="400"> Action </th>

        </tr>
      </thead>
      <tbody>
        @for(list <- lists){
        <tr>
          <td>@list.fullName</td>
          <td>@list.number</td>
          <td>
            <ul class="button-group round">
              <li><a href="javascript:;"  data-id="@list.id.get" data-name="@list.fullName" data-number="@list.number"  class="tiny button edit">Edit</a></li>


              <li><a href="@routes.Application.add_profile(list.id.get)" class="tiny button" >Add Contact Profile</a></li>

              <li><a href="@routes.Application.deleteContact(list.id.get)" class="tiny button delete" >Delete</a></li>

            </ul>
          </td>

        </tr>
        }
      </tbody>
    </table>

    <!-- edit modal -->
    <div id="modal-edit" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      <form id="form-update" action="@routes.Application.updateContact" method="POST" accept-charset="utf-8" >

        <div class="row" style="margin-top:20px;">
          <div class="small-8 small-centered columns">
            <h4>Update Contact</h4>
            <hr>
            <input type="hidden" id="id" name="id" >
          </div>
          <div class="small-8 small-centered columns">
            <div class="row">
              <div class="small-3 columns">
                <label for="right-label" class="right inline">Name</label>
              </div>
              <div class="small-9 columns">
                <input type="text" name="fullName" required id="fullName" placeholder="name here">
              </div>
            </div>
          </div>
          <div class="small-8 small-centered columns">
            <div class="row">
              <div class="small-3 columns">
                <label for="right-label" class="right inline">Number</label>
              </div>
              <div class="small-9 columns">
                <input type="text" name="number" required id="number" placeholder="number here">
              </div>
            </div>
          </div>
          <div class="small-8 small-centered columns">
            <div class="row">
              <div class="small-3 columns">
              </div>
              <div class="small-9 columns">
                <div class="button-bar">
                  <ul class="button-group radius right ">
                    <li><input type="submit" name="submit" class="small button success" value="Save"></li>
                    <li><input type="reset"  value="reset" class="small button alert "></li>

                  </ul>
                </div>
              </div>
            </div>
          </div>


        </div>
      </form>
    </div>
}


